@font-face {
  font-family: 'Magazine';
  src: url('../Assets/Magazine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewsFlashBB';
  src: url('../Assets/NewsflashBB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.hero-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Top Text */
.hero-content .top-section {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  
}

.top-section h1 {
  font-size: 222px;
  color: #000000;
  text-align: center;
  position: absolute;
  bottom: -28%;
  left: 40%;
  transform: translateX(-50%);
  animation: toph1 1.2s linear;
}

@keyframes toph1 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: -28%;
  }
}

.top-section p {
  font-size: 24px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #000;
  
}

/* Bottom Section */
.bottom-section {
  width: 100%;
  height: 50vh;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  
}

.bottom-section h1 {
  font-size: 222px;
  color: #eccf30;
  text-align: center;
  position: absolute;
  bottom: 72%;
  left: 40%;
  transform: translateX(-50%);
  animation: bottomh1 1.2s linear;
}

@keyframes bottomh1 {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 72%;
  }
}

.bottom-content {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  width: 100%; 
  padding: 125px 0; 
  margin-left: 800px; 
  max-width: calc(100% - 800px); 
}

.bottom-content h3 {
  color: #f6f1ed;
  margin: 0; 
  text-align: left; 
  word-wrap: break-word; 
  white-space: normal;
  display: inline-flex;
  flex-wrap: wrap; 
  font-size: 55px;
  font-family: 'Magazine';
  src: url('../Assets/Magazine.ttf') format('truetype');
  color: #ffffff;
}



/* Images */
.hero-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-images img.main-img {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: mainimg 1s linear;
}

@keyframes mainimg {
  0% {
    top: 120%;
  }
  100% {
    top: 67%;
  }
}



.top-section h1,
.bottom-section h1 {
  transform: translateX(1%);
}